# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Terraform / OpenTofu
**/.terraform/
**/.terraform.lock.hcl
!infra/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tvars
!infra/terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# dbt
target/
dbt_packages/
logs/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.gcloud/
secrets/gcp-sa.json